.navbar {
    overflow: hidden;
    background-color: #14101cb3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background: #ddd;
    color: black;
    /*background-color: black;*/
}

.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.dropdown:hover .dropdown-content {
    display: block;
}


