*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/7_blur2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    background-attachment: fixed;
}

/*.headline{*/
/*    color: #170101;*/
/*    !*color: lightgrey;*!*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    font-weight: bold;*/
/*}*/
.headline{
    color: #0b0bed;
    /*color: lightgrey;*/
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 700;
}

.all-chamber{
    color: #170101;;
    text-align: center;
    font-weight: bold;
}


/*h2{*/
/*    color: black;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

label{
    color: White;
    font-size: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
    color: #2e363e;
}

tr, td {
    background-color:#3b3434;
    color:white;
    text-align: center;
}

th{
    background-color:black;
    color:white;
    text-align: center;
}

table{
    width: 100%;
    text-align: center;
}

/*th, td{*/
/*    !*border: 1px solid blue;*!*/
/*    !*border-collapse: collapse;*!*/
/*    text-align: center;*/
/*}*/

tr:hover{
    background-color: #d6d6e2;
}

.buttonUpdate {
    background-color: #0a64eaf2; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonDelete {
    background-color: #a9334ec7; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}