*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/Fotoram3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    background-attachment: fixed;
}


.navbar {
    position: fixed;
    width: 100%;
    color: #2e363e;
}
