*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../../images/Fotoram3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    background-attachment: fixed;
}

label{
    color: White;
    font-size: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
    color: #2e363e;
}

h1 {
    color: #1a1a1b;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.form_container{
    width: 55%;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
}

#form-class{
    width: 60%;
    margin: auto;
}


#name, #location, #off_days, #start_form, #end_at{
    width: 335px;
    outline: 0;
    padding: 5px;
    border: 3px solid White;
    border-radius: 3px;
    alignment: center;
    font-weight: bold;
}

#submit{
    width: 300px;
    outline: 0;
    padding: 5px;
    position: center;
}



