*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../../images/Fotoram3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    background-attachment: fixed;
}

h1{
    color: #1a1a1b;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h2{
    color: white;
    text-align: center;
}

label{
    color: White;
    font-size: 20px;
}

#ma{
    color: White;
    font-size: 20px;
}


.registration-form-container{
    width: 55%;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
}

#registration-form{
    width: 60%;
    margin: auto;
}


#bmdc_no, #firstname, #lastname, #email, #phone, #password, #specialization{
    width: 335px;
    outline: 0;
    padding: 5px;
    border: 3px solid White;
    border-radius: 3px;
    alignment: center;
}

/*#name{*/
/*    width: 300px;*/
/*    outline: 0;*/
/*    padding: 5px;*/
/*    border: 3px solid #989095;*/
/*    border-radius: 3px;*/
/*}*/


#ch{
    color: black;
    font-size: 18px;
    font-weight: bold;
    alignment: center;
}

#submit{
    width: 300px;
    outline: 0;
    padding: 5px;
    position: center;
    /*border: 3px solid #9fabb6;*/
    /*color: white;*/
    /*font-size: 18px;*/
    /*background-color: #1a1a1b75;*/
}


/*#submit{*/
/*    width: 300px;*/
/*    outline: 0;*/
/*    padding: 5px;*/
/*    border: 3px solid #9fabb6;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    background-color: #1a1a1b75;*/
/*}*/

#gender{
    color: white;
    font-size: 20px;
}


.required {
    color: red;
}

.navbar {
    position: fixed;
    width: 100%;
}