*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../../images/indexBackground7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    width: 100%;
    color: #2e363e;
}
