*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../../images/Fotoram3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
}

label{
    color: white;
    font-size: 20px;
}

h1{
    color: #1a1a1b;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

.registration-form-container{
    width: 41%;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
}

#registration-form{
    width: 66%;
    margin: auto;
}

#name{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px solid White;
    border-radius: 3px;
}

#submit{
    width: 300px;
    outline: 0;
    padding: 5px;
    position: center;
}


.required {
  color: red;
}

.email{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px solid White;
    border-radius: 3px;

}